@model List<SMOKESTYLES_ADMIN.Models.Sale>
@{
    ViewBag.Title = "Sales Overview";
}

<link href="~/css/viewProduct.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Sales <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i><a href="/admin/index"> Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-chain"></i><a href="/admin/viewsales"> Sales</a>
            </li>

        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i><strong> Welcome back!</strong> Here is the all Sales you've done so far!
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Sale</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="table table-responsive table-bordred table-striped table-hover">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="#"></th>
                            <th><input type="text" class="form-control" placeholder="Name"></th>
                            <th><input type="text" class="form-control" placeholder="Unit Price"></th>
                            <th><input type="text" class="form-control" placeholder="Quantity Sold"></th>
                            <th><input type="text" class="form-control" placeholder="Total Amount"></th>
                            <th><input type="text" class="form-control" placeholder="Date"></th>
                            <th><input type="text" class="form-control" placeholder="Delete" disabled></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var sale in Model)
                        {
                            <tr>
                                <td>@sale.sale_id</td>
                                <td>@sale.sale_product_name</td>
                                <td>@sale.sale_product_quantity_sold</td>
                                <td>@sale.sale_product_unit_price</td>
                                <td>@sale.sale_amount PKR</td>
                                <td>@DateTime.Now</td>
                                <td><a href="/Admin/DeleteSale/@sale.sale_id" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!--

    MODAL Classes

-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Levi's T-Shirt'">
                </div>
                <div class="form-group">

                    <input class="form-control " type="text" placeholder="2">
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
